.review-card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    /* background-color: rebeccapurple; */
}
.top_part{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.name{
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: none;
}
.content{
    font-size: 1.5rem;
    color: #abb7c4;
}
.top_part img{
    width: 5rem;
}

.bottom_part a{
    margin-left: 1rem;
    cursor: pointer;
    color: red;
}


@media screen and (max-width:860px){
    .bottom_part .content{
        font-size: 1.3rem;
    }
    .name{
        font-size: 1.5rem;

    }
    .rating{
        font-size: 1.2rem;
    }
}