.news_container {
    /* margin-top: 4rem; */
    padding: 1rem;
    background-color: #020d18;
    height: 70vh;

    gap: 3rem;
    color: white;

}

.news_container h1 {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;

    /* margin-top: rem; */
}

.main_newsContainer {
    display: flex;
    gap: 5rem;
    height: 90%;
    /* background-color: red; */
    width: 100%;
}

.hero_news {
    /* background-color: rebeccapurple; */
    height: 100%;
    color: white;
    display: flex;
    
    flex: 2;
    gap: 1rem;
    padding-top: 3rem;
    overflow:hidden ;
    /* height: 70%; */
    /* flex-wrap: wrap; */
    
}

.image_half {
    width: 100%;
    flex: 1;
}

.image_half img {
    object-fit: contain;
    height:auto;
    width: 100%;
}

.text_half {
    font-size: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex:2;
}

.text_half_h {
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
    color: #4280bf;
    font-weight: bold;
    text-transform: none;
    cursor: pointer;
}

.text_half_date {
    font-family: 'Nunito', sans-serif;
    font-size: 1.3rem;
    color: #abb7c4;
    font-weight: 300;
    text-transform: none;
}

.text_half_p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    color: #abb7c4;
    font-weight: 300;
    text-transform: none;
    line-height: 24px !important;
}

.more_news {
    flex: 1;
}

.more_news_p {
    font-size: 1.3rem;
    color: white;
}

.more_news_list_container {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.more_news_date {
    margin-top: 1rem;
}

@media screen and (max-width: 1024px) {
    .main_newsContainer {
        gap: 3rem;
    }

    .text_half,
    .text_half_h {
        font-size: 1.8rem;
    }

    .text_half_p {
        font-size: 1.3rem;
    }

    .news_container h1 {
        font-size: 2rem;
    }

}

@media screen and (max-width: 768px) {
.news_container{
    height: auto;
}
    .main_newsContainer {
        gap: 2rem;
        flex-direction: column;

        /* flex-wrap: wrap; */
    }
    .hero_news{
     display: grid;
     grid-template-columns: 1fr;
   
    }

    .more_news
     {
        width: 100%;
    }

    .hero_news {
        gap: 0.5rem;
        width: 100%;
    }

    .text_half,
    .text_half_h {
        font-size: 1.4rem;
    }

    .text_half_p {
        font-size: 1.1rem;
    }

    .news_container h1 {
        font-size: 1.8rem;
    }

    .image_half img {
        /* height: 30rem; */
    }

}